<div class="jumbotron mt-5">
  <h2 class="heading">Filter News by country and category</h2>
  <div class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
      <form (ngSubmit)="searchNews()">
        <div class="form-group">
          <select
            name="category"
            [(ngModel)]="CategorySelected"
            class="form-control form-control-lg"
          >
            <option
              [value]="categoria.value"
              *ngFor="let categoria of categories"
            >
              {{ categoria.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select
            name="country"
            [(ngModel)]="countrySelected"
            class="form-control form-control-lg"
          >
            <option [value]="c.value" *ngFor="let c of country">
              {{ c.name }}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg">
          Search
        </button>
      </form>
    </div>
  </div>
</div>
